package main

import "fmt"

templ layout(id string) {
	<html>
		<head>
			<title>{ id }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

type tocModel struct {
	items []tocItem
}

type tocItem struct {
	name string
	link string
}

templ toc(model tocModel) {
	for _, item := range model.items {
		<ol>
			<a href={templ.SafeURL(item.link)}>{ item.name }</a>
		</ol>
	}
}

templ content(id int) {
	@layout(fmt.Sprint(id)) {
	}
}

templ actions(id int) {
	<a id="prev" href={ templ.URL(fmt.Sprintf("/%d", id-1)) } accesskey="h">{ fmt.Sprintf("%02d",id-1) }</a>
	<a id="next" href={ templ.URL(fmt.Sprintf("/%d", id+1)) } accesskey="l">{ fmt.Sprintf("%02d",id+1) }</a>
}

templ chatter() {
	<div hx-ws="connect:/chatroom">
		<div id="chat_room">
			...
		</div>
		<form id="form" hx-ws="send:submit" hx-swap="afterend">
			<input name="chat_message"/>
		</form>
	</div>
}
