package main

import "fmt"

templ layout(title string, model tocModel) {
	<html>
		<head>
			<title>{ title }</title>
			<link rel="icon" type="image/png" href="/assets/images/htmx.png"/>
			//<script src="/assets/js/htmx.min.js"></script>
			<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
		</head>
		<body class="grid grid-cols-2">
			<aside>
				@toc(model)
			</aside>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}

type tocModel struct {
	items []tocItem
}

type tocItem struct {
	name string
	link templ.SafeURL
}

templ toc(model tocModel) {
	<ol hx-boost="true" hx-target="main">
		for _, item := range model.items {
			<li><a href={ item.link }>{ item.name }</a></li>
		}
	</ol>
}

templ content(title string, model tocModel) {
	@layout(title, model) {
		<button hx-get="/toc">yes</button>
	}
}

templ actions(id int) {
	<a id="prev" href={ templ.URL(fmt.Sprintf("/%d", id-1)) } accesskey="h">{ fmt.Sprintf("%02d",id-1) }</a>
	<a id="next" href={ templ.URL(fmt.Sprintf("/%d", id+1)) } accesskey="l">{ fmt.Sprintf("%02d",id+1) }</a>
}

templ chatter() {
	<div hx-ws="connect:/chatroom">
		<div id="chat_room">
			...
		</div>
		<form id="form" hx-ws="send:submit" hx-swap="afterend">
			<input name="chat_message"/>
		</form>
	</div>
}
